.portfolio {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  &__img {
    @extend .img-fluid;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
