.navigation {
  @extend .navbar, .navbar-expand-lg, .navbar-light, .bg-transparent;

  &__brand {
    @extend .navbar-brand, .text-light, .mr-auto;

    @include media-breakpoint-down(sm) {
      color: $primary !important;
      display: block;
      margin: auto;
    }
  }

  button {
    @include media-breakpoint-down(sm) {
      margin: auto;
    }
  }
}
