.name {
  @extend .ml-auto;
  font-family: "Poppins", sans-serif;
  height: 100%;
  text-align: center;
  font-size: 9vh;
  letter-spacing: 0.8rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(-180deg);
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  cursor: default;
}

h1 {
  font-weight: $font-weight-bold;
}

h2 {
  font-weight: $font-weight-bold;
  letter-spacing: -0.05rem;
}

h3 {
  font-weight: $font-weight-light;
  line-height: 1.8125rem;
}

h4 {
  font-weight: $font-weight-normal;
  color: $primary;

  &::before {
    content: "/";
    margin-right: 0.5rem;
  }
}
